* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Poppins;
    
}

.navbar{
    background-color: #7e422b;
    margin: 0 !important;
    padding: 0 !important;
}

.nav-link-white {
    color: white;
  }

.paddingremover{
    padding: 0 !important;
}

.marginremover{
    margin: 0 !important;
}

.spinner{
    color: #7e422b;
}

.about-content {
    text-align: justify;
}

footer{
    color:grey;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }